{
  "env": {
    "test": {
      "presets": [
        "gasbuddy"
      ]
    },
    "development": {
      "presets": [
        "gasbuddy"
      ]
    },
    "webpack": {
      "presets": [
        [
          "gasbuddy",
          {
            "webpack": true
          }
        ]
      ]
    }
  }
}